.marginTop30 {
    margin-top: 30px;
}

.custom-Dropdown {
    padding: 3px 10px;
    width: 100%;
    border: 1px solid rgb(166, 166, 166);
}

.custom-Dropdown:focus, .custom-Dropdown option:focus{
    outline: none;
}


select.custom-Dropdown option:hover , select.custom-Dropdown option:active {
    box-shadow: 0 0 10px 100px rgb(166, 166, 166);
    background: rgb(166, 166, 166) !important;
}

.empCard{
    width:300px;
    position: relative;
    margin: 20px auto;
}

.clear-fix{
    float: left;
}

.w-auto{
    width: auto;
}

.card-info{
    padding: 10px;
    margin: 5px;
}